ccopy_reg
_reconstructor
p1
(crnn
DefaultConfig
p2
c__builtin__
object
p3
NtRp4
(dp5
S'learning_rate'
p6
F0.0050000000000000001
sS'num_layers'
p7
I1
sS'dropout_prob'
p8
F0.5
sS'dataset'
p9
S'softmax'
p10
sS'input_dim'
p11
I66
sS'num_epochs'
p12
I25
sS'time_batch_len'
p13
I128
sS'hidden_size'
p14
I50
sS'input_dropout_prob'
p15
F0.80000000000000004
sS'model_name'
p16
S'YY2XIMC7BE2W.model'
p17
sS'melody_coeff'
p18
F0.5
sS'learning_rate_decay'
p19
F0.90000000000000002
sb.